.animal{
    width: 200px;
    height: 200px;
    border-radius: 13px;
}
.article{
    line-height: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: #b95e09c9;
    margin: 40px;
    font-size: 14px;
    font-weight: 600px;
}
.box{
    height: 700px;
    width: 550px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 5px;
    padding-top: 20px;
background: rgba(255, 255, 254, 0.43);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(13.5px);
-webkit-backdrop-filter: blur(13.5px);
border: 1px solid rgba(255, 255, 254, 0.99);
border-radius: 50px;
background: #d0915d;
box-shadow:  20px 20px 60px #a47349,
             -20px -20px 60px #fcaf71;
             
}
@media (max-width:480px){
  .box{
    height: 280px;
    width: 270px;
    text-align: center;
    justify-content: center;
    margin: 220px auto;
    padding-bottom: 5px;
    padding-top: 20px;
background: rgba(255, 255, 254, 0.43);
border-radius: 2px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(13.5px);
-webkit-backdrop-filter: blur(13.5px);
border: 1px solid rgba(255, 255, 254, 0.99);
border-radius: 2px;
background: #d0915d;
box-shadow:  40px 40px 60px #a47349,
             -20px -20px 60px #fcaf71;
             
  }
  br{
    display: none;
  }
  .article{
    line-height: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 10px;
    margin: 0 auto;
    font-size: 6px;
}  
.animal{
    width: 90px;
    height: 86px;
    border-radius: 2px;
}
h1{
    font-size: 10px;
}
h2{
    font-size: 8px;
}
}